# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


/_site
/.idea
/node_modules
/.sass-cache
.DS_Store

# Local Netlify folder
.netlify