<footer>
  <div class="cover bg-left bg-center-l" style="background-image: url(/img/bg.png)">
    <form class="center pa3" action="https://formspree.io/feedback@tachyonstemplates.com" method="POST">
      <fieldset class="cf bn ma0 pa4">
        <h3 class="pa0 f3 f2-ns mb3 white tc">Want more Serverless?</h3>
        <h5 class="pa0 f4 f3-ns mb3 white tc">Subscribe to our mailing list to receive an update when new items arrive!</h5>
        <div class="cf mw7 center">
          <label class="clip" for="email-address">Email Address</label>
          <input placeholder="Your Email Address"
                 type="email"
                 name="_replyto"
                 class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns">
          <input
                  class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns"
                  type="submit"
                  value="Subscribe">
        </div>
      </fieldset>
    </form>
  </div>

  <div class="pt4 pb2 ph3 ph5-ns tc">
      <a class="link near-black hover-silver dib h2 w2 mr3" href="https://github.com/blairanderson/serverlessconsultants" title="GitHub">
          <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.083-.202-.358-1.015.077-2.117 0 0 .672-.215 2.2.82.638-.178 1.323-.266 2.003-.27.68.004 1.364.092 2.003.27 1.527-1.035 2.198-.82 2.198-.82.437 1.102.163 1.915.08 2.117.513.56.823 1.274.823 2.147 0 3.073-1.87 3.75-3.653 3.947.287.246.543.735.543 1.48 0 1.07-.01 1.933-.01 2.195 0 .215.144.463.55.385C13.71 14.53 16 11.534 16 8c0-4.418-3.582-8-8-8"/></svg>
      </a>
  </div>

  <div class="pb4 pt2 ph3 ph5-ns tc lh-copy">
    <a href="/">Tachyons Templates</a>
  </div>

</footer>
