<header class="bg-white w-100 ph3 pv3 pv4-ns ph4-m ph5-l bb b--light-gray">
  <nav class="tc">
    <div class="db dib-ns tc mb3 mb0-ns">
    <a href="/" title="Tachyons Templates Logo"
      class="link dim b mr3 f3 ba bw2 b--black"
      style="color: rgb(90,128,245); border-color: rgb(90,128,245);"
      >TT</a>
    </div>
    <a class="link dim black b tc f6 f5-ns db dib-ns mr3 mb3 mb0-ns" href="/" title="Tachyons Templates">
      Tachyons Templates
    </a>
    <!-- <a class="link dim gray tc f6 f5-ns db dib-ns mr3 mb3 mb0-ns" href="/articles/" title="Articles and Blogs">
      Blog/Articles
    </a> -->
    <a class="link dim gray tc f6 f5-ns db dib-ns mr3 mb3 mb0-ns" href="/components/?selectedKind=AboutPages&selectedStory=AboutUs" title="Tachyons Component Playground">
      Tachyons Components Directory
    </a>
    <a class="link dim gray tc f6 f5-ns db dib-ns mr3 mb0" href="/contact/" title="Contact Tachyons Templates">
      Contact
    </a>
  </nav>
</header>
