<div class="link fl w-50 w-third-ns pa3 pa4-ns">
  <div class="br2 ba dark-gray tc b--black-10">
    <div class="aspect-ratio aspect-ratio--16x9">
      <a class="aspect-ratio--object db overflow-hidden" href="{{ template.url }}">
        <div class="aspect-ratio--object grow dim cover" style="background:url({{ template.img-src }}) center;"></div>
      </a>
    </div>
    <div class="pv2 ph3-ns pb3-ns bg-black-05 text-center">
      <div class="dt w-100 mt1-ns"><div class="dtc"><h1 class="f5 f4-ns mv1 mv2-ns">{{ template.title }}</h1></div></div>
      <div class="ph3-ns mv2-ns"><a class="f6 link dim br3 bb bw2 bg-white no-underline b--gray ph3 pv2 mv2 dib black" href="{{ template.url }}?from={{page.slug}}">Learn More</a></div>
    </div>
  </div>
</div>
