<div class="link fl w-50 w-third-ns pa4">
  <div class="br2 ba dark-gray tc b--black-10">
    <div class="aspect-ratio aspect-ratio--16x9">
      <div class="aspect-ratio--object cover" style="background:url({{ template.img-src }}) center;"></div>
    </div>
    <div class="pa2 ph3-ns pb3-ns bg-black-05 text-center">
      <div class="dt w-100 mt1">
        <div class="dtc">
            <h1 class="f5 f4-ns mv2">{{ template.title }}</h1>
        </div>
      </div>
      <div class="ph3 mv2">
        <a class="f6 link dim br3 bb bw2 bg-white no-underline b--gray ph3 pv2 mv2 dib black" href="{{ template.src }}">Learn More</a>
      </div>
    </div>
  </div>
</div>
