---
layout: default
---
<div class="tc ph3 ph4-l">
  <h1 class="f3 f2-m f-subheadline-l fw6 tc">{{ page.meta-title }}</h1>
  <p class="f5 f4-m f3-l">{{ page.description }}</p>
</div>

<div class="db mw8 ph4 pv3 mv4 bg-black-10 br2 center">
  <a href="/">Tachyons Templates</a>
  /
  {{ page.title }}
</div>

<div class="cf pt4 pb2 mw8 center">
	{% for template in site.templates reversed %}
    {% if template.categories contains page.slug or page.slug == 'all' %}
		  {% include template-card.html template=template %}
    {% endif %}
	{% endfor %}
</div>

<div class="cf w-100">
	{{ content }}
</div>

<hr>

{% include latest-posts.html %}
